{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'main/css/index.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
<!--        <div class="alert alert-light text-center" role="alert">-->
<!--            Информационное сообщение-->
<!--        </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Какие навыки тебе нужны?</h1>
                <p>
                    Что нужно уметь, чтобы работать там, где хочу?
                    Давай посмотрим! Узнай, какие ключевые навыки тебе нужно иметь, чтобы устроиться на работу мечты!
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'search:search' %}">
                        Начать
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}



