{% extends 'main/base.html' %}

{% block title %}Сайт{% endblock %}

{% block content %}
    <header>
        <h1>Сайт</h1>
        <nav>
            <a href="{% url 'about' %}">Начать</a>
            <a href="{% url 'users:login' %}">Войти</a>
        </nav>
    </header>
    <section class="main-content">
        <div class="main-text">
            <h2>Какие навыки тебе нужны?</h2>
            <p>Что нужно уметь, чтобы работать там, где хочешь? Узнай, какие ключевые навыки тебе нужно иметь, чтобы устроиться на работу мечты!</p>
            <a href="{% url 'about' %}" class="button">Начать</a>
        </div>
    </section>
{% endblock %}